body {
  height: 100%;
  margin: 0;
}

.full-screen {
  background-color: rgb(50, 50, 50);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.paddle {
  background-color: white;
  padding: 50px 10px 50px 10px;
  position: relative;
  transform: translateY(-50%);
}

.paddle-left {
 float: left;
 margin-left: 15px;
}

.paddle-right {
  float: right;
  margin-right: 15px;
}
